.main {
  margin: 0 auto;
 min-width: 100%;
 height: 90vh;
   display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  background: url(../public/Image_cropped.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
}

 
 





